@model SAWorkplace.Models.DocumentDisplayModel
<script>
    function DeleteDocument(documentId, documentName, ticketNum, requestType) {
        $.ajax({
            type: "Get",
            url: '@Url.Action("DeleteDocument", "Document")',
            data: { ticketNum: ticketNum, requestType: requestType },
            success: function (result) {
                if (result.success == true) {
                    $('#lblMessage').text('Are you sure you want to DELETE ' + decodeHtml(documentName) + '?');
                    $('#myDeleteModal').modal({
                        closable: false,
                        transition: 'scale',
                        allowMultiple: true,
                        onDeny: function () {
                            Delete(documentId, ticketNum, requestType);
                        }
                    }).modal('show');
                    createDimmers();
                }
            }
        });
    }

    function AddDocument(ticketNum, requestType) {
        $.ajax({
            type: "Get",
            url: '@Url.Action("AddDocument", "Document")',
            data: { ticketNum: ticketNum, requestType: requestType },
            success: function (data) {
                $('#PreviewAddDoc').html(data);
                $('#myAddDocModal').modal({
                    closable: false,
                    transition: 'scale',
                    allowMultiple: true,
                    onApprove: function (e) {
                        var validated = $('#frmAddDocument').form('validate form');
                        if (!validated) {
                            return false;
                        }
                        else {
                            $('#frmAddDocument').submit();
                            $("#frmAddDocument")[0].reset();
                        }
                    }
                }).modal('show');
                createDimmers();
            }
        });
    }

    function decodeHtml(html) {
        var txt = document.createElement("textarea");
        txt.innerHTML = html;
        return txt.value;
    }

    function CloseDeleteModal() {
        $('#myDeleteModal').modal('hide');
        hideDimmers();
    };

    function CloseAddModal() {
        $('#myAddDocModal').modal('hide');
        hideDimmers();
    };

    function createDimmers() {
        $('#modEditHide').dimmer({ closable: false, blurring: true }).dimmer('show');
        $('#modLoadTestHide').dimmer({ closable: false, blurring: true }).dimmer('show');
        $('#modIssueHide').dimmer({ closable: false, blurring: true }).dimmer('show');
        $('#modCodeReviewHide').dimmer({ closable: false, blurring: true }).dimmer('show');
        $('#modConcernHide').dimmer({ closable: false, blurring: true }).dimmer('show');
    }

    function hideDimmers() {
        $('#modEditHide').dimmer('hide');
        $('#modLoadTestHide').dimmer('hide');
        $('#modIssueHide').dimmer('hide');
        $('#modCodeReviewHide').dimmer('hide');
        $('#modConcernHide').dimmer('hide');
    }
</script>
<div id="documents" style="margin-top:10px !important">
    @{
        if (Model.Documents != null)
        {
            <div>
                <label><u>Documents</u></label> <a href="#" onclick="AddDocument('@Model.TicketNumber')"><img src="~/img/indicators/add.png" height="15" width="15" /></a>
                <table width="100%" border="0" class="ui striped table">
                    @{ foreach (var doc in Model.Documents)
                        {
                            var imgsrc = "/img/docTypes/" + doc.DocumentExt + ".png";
                            <tr>
                                <td class="info-text" width="15"><img src="@imgsrc" height="15" width="15" border="0" style="margin:0; padding:0" /></td>
                                <td class="info-text" height="18"><a target="_blank" href="@Url.Content("/" + doc.DocumentPath + "/" + doc.DocumentName)">@doc.DocumentName</a></td>
                                <td class="info-text" height="18" id="tdDocType">@doc.DocumentType</td>
                                <td class="info-text" height="18">@doc.DocumentModifiedDate</td>
                                <td class="info-text" height="18">@doc.DocumentModifiedByName</td>
                                <td class="info-text" width="20"><a href="#" onclick="DeleteDocument(@doc.ID, '@doc.DocumentName', '@doc.TicketNumber', '@Model.RequestType')" style="padding:0"><img src="~/img/indicators/delete.png" height="15" width="15" /></a></td>
                            </tr>
                        }
                    }
                </table>
            </div>
        }
        else
        {
            if (Model.RequestType == 1)
            {
                <div class="form-group col-6">
                    <label class="col-form-label-sm">Review Result</label>
                    <div class="custom-file">
                        <input type="file" id="Review_Result" name="Review_Result" class="custom-file-input" accept=".docx" placeholder="Please choose your Review Result...">
                        <label class="custom-file-label" id="review_resultLabel" name="review_resultLabel" for="Review_Result">Please Upload your Completed Review Result</label>
                    </div>
                </div>
            }
            if (Model.RequestType == 4)
            {
                <div class="form-group col-6">
                    <label class="col-form-label-sm">Workflow</label>
                    <div class="custom-file">
                        <input type="file" id="Questionaire" name="Questionaire" class="custom-file-input" accept=".docx" placeholder="Please upload your project Workflow if available...">
                        <label class="custom-file-label" id="questionaireLabel" name="questionaireLabel" for="Questionaire">Please Upload your Completed Questionaire</label>
                    </div>
                </div>
            }
            if (Model.RequestType == 6)
            {
                <div class="form-group col-12">

                    <label class="col-form-label"><u>Add Documents</u></label> <a href="#" onclick="AddDocument('@Model.TicketNumber')"><img src="~/img/indicators/add.png" height="15" width="15" /></a>
                    <table width="100%" border="0" class="table-striped">
                    </table>
                </div>
            }
        }
    }
</div>